<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <span>Movie Game</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button mat-button (click)="onReload();">Reload<mat-icon>replay</mat-icon></button>
      <button mat-button id="addToHomeScreen" [hidden]="hiddenAddToHomeScreen" (click)="addToHomeScreen()">Install<mat-icon>cloud_download</mat-icon></button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
   <mat-sidenav-content fxFlexFill>
      <app-search minLengthTerm=2></app-search>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
