<div class="container">
  <mat-card>
    <mat-card-title>Find this movie - Points to this movie : {{ getScore() }} </mat-card-title>
    <mat-card-content>
      <div *ngIf="disabledQuestion">
        <mat-spinner></mat-spinner>Loading movie...
      </div>
      <p *ngIf="!disabledQuestion">
        {{ movieToFind!.Plot }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-accordion #accordion="matAccordion" [multi]="true">
    <mat-expansion-panel (opened)="showGenre = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show indice gender
        </mat-panel-title>
        <mat-panel-description>
          opening cost - 2pts
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ movieToFind!.Genre }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="showYear = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show indice year
        </mat-panel-title>
        <mat-panel-description>
          opening cost - 2pts
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ movieToFind!.Year }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="showCountry = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show indice country
        </mat-panel-title>
        <mat-panel-description>
          opening cost - 2pts
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ movieToFind!.Country }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="showActors = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show indice actors
        </mat-panel-title>
        <mat-panel-description>
          opening cost - 2pts
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ movieToFind!.Actors }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="showWriter = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show indice writers
        </mat-panel-title>
        <mat-panel-description>
          opening cost - 2pts
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ movieToFind!.Writer }}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card>
    <mat-card-title>OMDB - Movie Search</mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Movie" [(ngModel)]="selectedMovie" [matAutocomplete]="auto"
               [formControl]="searchMoviesCtrl" placeholder="Min {{minLengthTerm}} Characters Ex. Ant">
        <button *ngIf="selectedMovie" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()"
                          [displayWith]="displayWith">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let movie of filteredMovies" [value]="movie">
              <span><b>{{movie.Title}}</b> ({{movie.Year}})</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <ng-container *ngIf="errorMsg; else elseTemplate">
        {{errorMsg}}
      </ng-container>
      <ng-template #elseTemplate>
        <div class="movie-details" *ngIf="selectedMovie?.Title">
          <div>
            <img [src]="selectedMovie?.Poster" style="height: 250px;"/>
          </div>
          <div>
            <mat-card>
              <mat-card-title> {{ success ? "Success !" : "Try again"}}</mat-card-title>
              <mat-card-content>
                Total : {{scoreTotal}} pts
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button class="next-movie" (click)="initQuestion()">Next movie</button>
</div>
