.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

mat-accordion{
  width: 100%;
  justify-content: space-between;
}
mat-panel-description {
  justify-content: flex-end;
}

mat-card {
  width: 100%;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.next-movie {
  width: 100%;
  height: 40px;
  background-color: aquamarine;
  font-weight: bold;

}
